PORT=3000
REDIS_URL=redis://localhost:6379
WEB_APP_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/v1/auth/google/callback
CALENDAR_TOKEN_KEY=
GOOGLE_SIGNIN_REDIRECT_URI=http://localhost:3000/api/v1/auth/google/signin/callback
FREE_MEETING_LIMIT=2
UNLIMITED_EMAILS=
